Options -Indexes
RewriteEngine On

<FilesMatch "^(config\.php|config\.example\.php)$">
  Require all denied
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
